* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

//VARIABLES
$color-background: #fff;
$color-text: #11053B;
$color-link: #FFD400;
$color-hr: #FEFEFE;

$font-title: 'Playfair', serif;
$font-text: 'Barlow', sans-serif;